<%- include('header'); -%>

<main class="container">
  <h1><%= title %></h1>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= item.description %></h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="col-8">Conteneur</th>
            <th scope="col" class="col-4">Quantité</th>
          </tr>
        </thead>
        <tbody>
          <% inventoryLines.forEach((line) => { %>
          <tr>
            <td><%= line.container.description %></td>
            <td>
              <form action="/items/<%= item.uuid %>" method="post" class="row">
                <div class="col">
                  <input type="hidden" name="containerUuid" value="<%= line.container.uuid %>">
                  <input class="form-control text-end" name="quantity" type="number" value="<%= line.quantity %>" required min="0"/>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                  </button>
                </div>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <br>
      <form action="/items/<%= item.uuid %>" method="post" class="row p-3">
        <div class="col-8 px-0">
          <select name="containerUuid" id="containerSelect" class="form-select">
            <% containers.forEach((container) => { %>
            <option value="<%= container.uuid %>"><%= container.description %></option>
            <% }) %>
          </select>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col">
              <input class="form-control col" name="quantity" type="number" value="0" required min="0"/>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</main>

<%- include('footer') -%>
